{
  "openapi": "3.0.3",
  "info": {
    "title": "Velora Delta API V1",
    "version": "1.0.0",
    "description": "Velora Delta API V1 — intent-based quoting and order lifecycle. Local EIP-712 order building; flat order list; supports the same on-chain contracts as V2."
  },
  "servers": [{ "url": "https://api.velora.xyz", "description": "Production" }],
  "paths": {
    "/quote": {
      "get": {
        "summary": "Retrieve a Delta price, with optional fallback to Market",
        "operationId": "deltaQuote",
        "parameters": [
          {
            "name": "srcToken",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE"
            },
            "description": "Source token address. Example uses ETH."
          },
          {
            "name": "srcDecimals",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "example": 18 },
            "description": "Source token decimals."
          },
          {
            "name": "destToken",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
            },
            "description": "Destination token address. For cross-chain quotes, the destination token on the destination chain. Example uses USDC."
          },
          {
            "name": "destDecimals",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "example": 6 },
            "description": "Destination token decimals."
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "example": "1000000000000000000" },
            "description": "srcToken amount (SELL) or destToken amount (BUY), in WEI/raw units."
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["SELL", "BUY"],
              "default": "SELL"
            }
          },
          {
            "name": "chainId",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "example": 1 },
            "description": "Source chain ID. Supported values: 1 (Mainnet), 10 (Optimism), 56 (BSC), 137 (Polygon), 8453 (Base), 42161 (Arbitrum), 43114 (Avalanche), 100 (Gnosis)."
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["ALL", "DELTA", "MARKET"],
              "default": "ALL"
            },
            "description": "Controls which execution path Velora returns. `ALL` (default) lets Velora pick the winner server-side and returns exactly one of a `delta` or `market` block — never both. `DELTA` / `MARKET` request a specific path; if no route exists for the requested mode, the API may return the other path's block as fallback. See /integrate/trading-modes for full semantics including the 400 PricingError fallback envelope."
          },
          {
            "name": "userAddress",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
            },
            "description": "End-user wallet address."
          },
          {
            "name": "partner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "anon",
              "example": "my-app-name"
            },
            "description": "Partner string. Defaults to `anon` which charges 1bps fee for all swaps."
          },
          {
            "name": "destChainId",
            "in": "query",
            "required": false,
            "schema": { "type": "integer" },
            "description": "Destination chain ID for cross-chain quotes. Omit for same-chain quotes."
          }
        ],
        "responses": {
          "200": {
            "description": "Delta quote, optionally with a Market block depending on `mode`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "delta": {
                      "$ref": "#/components/schemas/DeltaPriceWithHmac"
                    },
                    "market": {
                      "type": "object",
                      "description": "Market route block. Same shape as the GET /prices `priceRoute` field. Present when `mode` is ALL or MARKET."
                    },
                    "deltaAddress": {
                      "type": "string",
                      "description": "The Delta settlement contract address for the source chain."
                    },
                    "fallbackReason": {
                      "type": "object",
                      "description": "Set when Delta couldn't price and the response fell back to Market.",
                      "properties": {
                        "errorType": { "type": "string" },
                        "details": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid parameters" },
          "422": { "description": "Unsupported chain or token" }
        }
      }
    },
    "/delta/prices": {
      "get": {
        "summary": "Get a Delta V1 price (same-chain or crosschain)",
        "description": "Returns a single best route plus the Delta contract address. Same-chain quotes set `bridge` to the all-zero `DEFAULT_BRIDGE`; crosschain quotes populate `bridge` and add `bridgeInfo` / `availableBridges`.",
        "operationId": "deltaPrices",
        "parameters": [
          {
            "name": "chainId",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "example": 1 }
          },
          {
            "name": "srcToken",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "destToken",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Destination token. For crosschain quotes, the destination token on `destChainId`."
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "srcDecimals",
            "in": "query",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "destDecimals",
            "in": "query",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["SELL", "BUY"],
              "default": "SELL"
            }
          },
          {
            "name": "destChainId",
            "in": "query",
            "required": false,
            "schema": { "type": "integer" }
          },
          {
            "name": "userAddress",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "beneficiary",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "partner",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "anon",
              "example": "my-app-name"
            }
          },
          {
            "name": "partnerFeeBps",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 0, "maximum": 200 }
          },
          {
            "name": "maxImpact",
            "in": "query",
            "required": false,
            "schema": { "type": "number" }
          },
          {
            "name": "maxUSDImpact",
            "in": "query",
            "required": false,
            "schema": { "type": "number" }
          },
          {
            "name": "includeAgents",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "excludeAgents",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "includeBridges",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "excludeBridges",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "allowBridgeAndSwap",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean", "default": true }
          }
        ],
        "responses": {
          "200": {
            "description": "Delta price envelope. The `price.hmac` must be passed verbatim to `POST /delta/orders/build`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "price": {
                      "$ref": "#/components/schemas/DeltaPriceWithHmac"
                    },
                    "deltaAddress": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid parameters or no route" },
          "422": { "description": "Unsupported chain or token" }
        }
      }
    },
    "/delta/prices/is-token-supported": {
      "get": {
        "summary": "Check whether a token is supported for Delta on a chain",
        "operationId": "deltaIsTokenSupported",
        "parameters": [
          {
            "name": "chainId",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "example": 1 }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Token support flag.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "supported": { "type": "boolean" } }
                }
              }
            }
          }
        }
      }
    },
    "/delta/prices/bridge-info": {
      "get": {
        "summary": "List the crosschain (srcChainId, destChainId, tokens) lanes",
        "description": "Returns a nested map of supported bridge lanes. Useful for building a 'supported chains' picker before quoting.",
        "operationId": "deltaBridgeInfo",
        "parameters": [
          {
            "name": "bridges",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Comma-separated bridge protocol names. Omit for every active bridge."
          },
          {
            "name": "allowBridgeAndSwap",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean", "default": true }
          }
        ],
        "responses": {
          "200": {
            "description": "Supported lanes grouped by source then destination chain.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "supportedTokens": {
                      "type": "object",
                      "description": "`Record<srcChainId, Record<destChainId, tokenAddress[]>>`. Token addresses are on the source chain.",
                      "additionalProperties": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "array",
                          "items": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/delta/prices/bridge-protocols": {
      "get": {
        "summary": "List active bridge protocols",
        "description": "Display catalogue of every bridge protocol active in the relayer's `BridgeApi`. Use the `protocol` slug for `includeBridges` / `excludeBridges` filters.",
        "operationId": "deltaBridgeProtocols",
        "responses": {
          "200": {
            "description": "Active bridge protocols.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bridgeProtocols": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/BridgeProtocol" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/delta/prices/strategies/{chainId}": {
      "get": {
        "summary": "List Delta yield strategies (with APR) for a chain",
        "description": "Returns the Delta-token vaults wired for Productive orders, keyed by underlying token address. APRs are refreshed server-side every 3 hours; `apr` is `null` when the strategy is too new to compute.",
        "operationId": "deltaStrategies",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "example": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "Map of `underlyingTokenAddress → { address, strategies }`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/DeltaTokenWithStrategies"
                  }
                }
              }
            }
          },
          "400": { "description": "Unsupported chain" }
        }
      }
    },
    "/prices/partnerfee/{chainId}": {
      "get": {
        "summary": "Resolve the registered partner-fee config",
        "description": "Returns the partner-fee config registered against a partner key. Shared between Market and Delta — the same key drives fees on both flows.",
        "operationId": "deltaPartnerFee",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "example": 1 }
          },
          {
            "name": "partner",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "example": "my-app-name" }
          }
        ],
        "responses": {
          "200": {
            "description": "Resolved partner-fee config.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "partnerFee": {
                      "type": "number",
                      "description": "Fee in percent (e.g. `0.12` = 0.12%)."
                    },
                    "partnerAddress": { "type": "string" },
                    "takeSurplus": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/delta/orders/build": {
      "post": {
        "summary": "Build a signable Delta V1 order from a quote",
        "description": "Compose EIP-712 typed data from a `/delta/prices` (or `/quote`) response. Pass the `delta` block verbatim as `price` along with its `hmac`.",
        "operationId": "deltaOrdersBuild",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["chainId", "owner", "price"],
                "properties": {
                  "chainId": { "type": "integer" },
                  "owner": { "type": "string" },
                  "beneficiary": {
                    "type": "string",
                    "description": "Defaults to `owner`."
                  },
                  "side": {
                    "type": "string",
                    "enum": ["SELL", "BUY"],
                    "default": "SELL"
                  },
                  "onChainOrderType": {
                    "type": "string",
                    "enum": [
                      "Order",
                      "ProductiveOrder",
                      "ExternalOrder",
                      "TWAPOrder",
                      "TWAPBuyOrder"
                    ],
                    "default": "Order"
                  },
                  "price": {
                    "$ref": "#/components/schemas/DeltaPriceWithHmac"
                  },
                  "deadline": {
                    "type": "integer",
                    "description": "Unix seconds. Defaults to now + 1 hour."
                  },
                  "nonce": { "type": "string" },
                  "permit": {
                    "type": "string",
                    "description": "Permit / Permit2 payload, or `0x` if approved on-chain."
                  },
                  "slippage": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 10000,
                    "default": 100,
                    "description": "Slippage in basis points."
                  },
                  "partiallyFillable": { "type": "boolean", "default": false },
                  "partnerAddress": { "type": "string" },
                  "partnerFeeBps": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 200,
                    "default": 0
                  },
                  "partnerTakesSurplus": {
                    "type": "boolean",
                    "default": false
                  },
                  "capSurplus": { "type": "boolean", "default": true },
                  "metadata": { "type": "string" },
                  "handler": {
                    "type": "string",
                    "description": "Required for `ExternalOrder`."
                  },
                  "data": {
                    "type": "string",
                    "description": "Required for `ExternalOrder`."
                  },
                  "strategy": {
                    "type": "string",
                    "description": "Required for `ProductiveOrder`."
                  },
                  "useShares": { "type": "boolean", "default": true },
                  "interval": {
                    "type": "integer",
                    "minimum": 60,
                    "description": "TWAP slice interval in seconds."
                  },
                  "numSlices": {
                    "type": "integer",
                    "minimum": 2,
                    "description": "TWAP slice count."
                  },
                  "totalSrcAmount": {
                    "type": "string",
                    "description": "Required for `TWAPOrder`."
                  },
                  "totalDestAmount": {
                    "type": "string",
                    "description": "Required for `TWAPBuyOrder`."
                  },
                  "maxSrcAmount": {
                    "type": "string",
                    "description": "Required for `TWAPBuyOrder`."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "EIP-712 typed data ready to sign.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "On-chain `Order` struct values, ready to be signed and submitted."
                    },
                    "orderHash": { "type": "string" },
                    "domain": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string", "example": "Portikus" },
                        "version": { "type": "string", "example": "2.0.0" },
                        "chainId": { "type": "integer" },
                        "verifyingContract": { "type": "string" }
                      }
                    },
                    "types": { "type": "object" }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid input or stale price" }
        }
      }
    },
    "/delta/orders": {
      "post": {
        "summary": "Submit a signed Delta V1 order",
        "operationId": "deltaOrdersSubmit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["chainId", "order", "signature", "partner"],
                "properties": {
                  "chainId": { "type": "integer" },
                  "order": {
                    "type": "object",
                    "description": "The `data` returned by `POST /delta/orders/build`, sent verbatim."
                  },
                  "signature": {
                    "type": "string",
                    "description": "EIP-712 signature over `order`."
                  },
                  "type": {
                    "type": "string",
                    "enum": ["MARKET", "LIMIT"],
                    "default": "MARKET"
                  },
                  "partner": { "type": "string", "example": "my-app-name" },
                  "referrerAddress": { "type": "string" },
                  "partiallyFillable": { "type": "boolean", "default": false },
                  "includeAgents": {
                    "type": "array",
                    "items": { "type": "string" }
                  },
                  "excludeAgents": {
                    "type": "array",
                    "items": { "type": "string" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order accepted.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeltaAuction" }
              }
            }
          },
          "400": { "description": "Invalid signature or order shape" }
        }
      },
      "get": {
        "summary": "List a user's Delta V1 orders (flat array)",
        "description": "Returns a flat array of orders. V1 paginates by `page` + `limit` but does NOT wrap the response in an envelope — use the array length as a soft total. For a paginated envelope, see [Delta V2 → List orders](/api-reference/delta-v2/orders-list).",
        "operationId": "deltaOrdersList",
        "parameters": [
          {
            "name": "userAddress",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            }
          },
          {
            "name": "chainId",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["MARKET", "LIMIT"] }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Comma-separated `DeltaAuctionStatus` values: `NOT_STARTED`, `AWAITING_PRE_SIGNATURE`, `RUNNING`, `EXECUTING`, `EXECUTED`, `FAILED`, `EXPIRED`, `CANCELLED`, `CANCELLING`, `SUSPENDED`, `REFUNDED`."
          },
          {
            "name": "onChainOrderType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["Order", "ProductiveOrder", "ExternalOrder"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flat array of orders.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/DeltaAuction" }
                }
              }
            }
          }
        }
      }
    },
    "/delta/orders/cancel": {
      "post": {
        "summary": "Cancel one or more Delta V1 orders",
        "description": "Sign-and-post cancellation. Only succeeds for orders still open in the auction.",
        "operationId": "deltaOrdersCancel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["orderIds", "signature"],
                "properties": {
                  "orderIds": {
                    "type": "array",
                    "items": { "type": "string", "format": "uuid" },
                    "minItems": 1,
                    "maxItems": 100
                  },
                  "signature": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancellation accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cancelled": {
                      "type": "array",
                      "items": { "type": "string", "format": "uuid" }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid signature or order already settled" }
        }
      }
    },
    "/delta/orders/{orderId}": {
      "get": {
        "summary": "Get a Delta V1 order by ID",
        "operationId": "deltaOrderById",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeltaAuction" }
              }
            }
          },
          "404": { "description": "Order not found" }
        }
      }
    },
    "/delta/orders/hash/{hash}": {
      "get": {
        "summary": "Get a Delta V1 order by EIP-712 hash",
        "operationId": "deltaOrderByHash",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DeltaAuction" }
              }
            }
          },
          "404": { "description": "Order not found" }
        }
      }
    },
    "/delta/orders/fillablebalance/{chainId}/{userAddress}/{tokenAddress}": {
      "get": {
        "summary": "Compute a user's fillable balance for limit orders",
        "description": "Returns the user's wallet balance **minus** any source-token amounts already committed to open limit orders.\n\n`tokenAddress` is an optional trailing path segment — omit it (`/delta/orders/fillablebalance/{chainId}/{userAddress}`) to get balances for every committed token.",
        "operationId": "deltaFillableBalance",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "example": 1 }
          },
          {
            "name": "userAddress",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "tokenAddress",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Map of `tokenAddress → fillableBalance`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": { "type": "string" }
                }
              }
            }
          }
        }
      }
    },
    "/delta/orders/orderbook/{chainId}/{agent}": {
      "get": {
        "summary": "Get pending orders for a specific agent (agent operators only)",
        "description": "Returns the orderbook slice the auction would feed to one agent for a given chain. **Not intended for end-user integrations** — used by agent operators to introspect their fill queue.",
        "operationId": "deltaOrderbook",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          },
          {
            "name": "agent",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Agent name from `GET /delta/agents/list/{chainId}`."
          }
        ],
        "responses": {
          "200": {
            "description": "Pending-order slice.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/DeltaAuction" }
                }
              }
            }
          }
        }
      }
    },
    "/delta/agents/list/{chainId}": {
      "get": {
        "summary": "List active agents competing in the auction for a chain",
        "operationId": "deltaAgentsList",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "example": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of agent names.",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "type": "string" } }
              }
            }
          },
          "400": { "description": "Unsupported chain" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Bridge": {
        "type": "object",
        "description": "On-chain bridge tuple. For same-chain orders, every field is the all-zero `DEFAULT_BRIDGE`.",
        "properties": {
          "protocolSelector": { "type": "string", "description": "bytes4." },
          "destinationChainId": {
            "type": "integer",
            "description": "uint64. `0` for same-chain."
          },
          "outputToken": { "type": "string" },
          "scalingFactor": { "type": "integer" },
          "protocolData": { "type": "string" }
        }
      },
      "BridgeInfo": {
        "type": "object",
        "properties": {
          "protocolName": { "type": "string" },
          "destAmountAfterBridge": { "type": "string" },
          "destUSDAfterBridge": { "type": "string" },
          "estimatedTimeMs": { "type": "integer" },
          "fees": { "type": "array", "items": { "type": "object" } }
        }
      },
      "BridgeProtocol": {
        "type": "object",
        "properties": {
          "protocol": {
            "type": "string",
            "description": "Stable slug used in `includeBridges` / `excludeBridges`."
          },
          "displayName": { "type": "string" },
          "icon": {
            "type": "string",
            "description": "Absolute URL to a 1:1 SVG icon hosted on cdn.velora.xyz."
          }
        }
      },
      "DeltaPriceWithHmac": {
        "type": "object",
        "description": "Flat Delta price object. Same-chain quotes return `DeltaPrice`; crosschain quotes set `bridge` and add `bridgeInfo` and `availableBridges`. Pass this object verbatim (including `hmac`) to `POST /delta/orders/build`.",
        "properties": {
          "srcToken": { "type": "string" },
          "destToken": { "type": "string" },
          "srcAmount": { "type": "string" },
          "srcAmountBeforeFee": {
            "type": "string",
            "description": "BUY side only."
          },
          "destAmount": { "type": "string" },
          "destAmountBeforeFee": {
            "type": "string",
            "description": "SELL side only."
          },
          "receivedDestAmount": { "type": "string" },
          "receivedDestUSD": { "type": "string" },
          "gasCost": { "type": "string" },
          "gasCostBeforeFee": { "type": "string" },
          "gasCostUSD": { "type": "string" },
          "gasCostUSDBeforeFee": { "type": "string" },
          "srcUSD": { "type": "string" },
          "destUSD": { "type": "string" },
          "destUSDBeforeFee": { "type": "string" },
          "partner": { "type": "string" },
          "partnerFee": { "type": "number" },
          "bridge": { "$ref": "#/components/schemas/Bridge" },
          "bridgeInfo": { "$ref": "#/components/schemas/BridgeInfo" },
          "availableBridges": {
            "type": "array",
            "items": { "type": "object" },
            "description": "Crosschain only. Each entry mirrors a `BridgePrice` with its own `bridge` + `bridgeInfo`."
          },
          "hmac": {
            "type": "string",
            "description": "Server-signed integrity tag. Must be passed verbatim to `/delta/orders/build`."
          }
        }
      },
      "DeltaTokenWithStrategies": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "Delta token (dToken) wrapper address."
          },
          "strategies": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "vault": {
                  "type": "string",
                  "description": "ERC-4626 vault address. Pass as `strategy` on Productive order builds."
                },
                "name": { "type": "string" },
                "apr": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "gross": {
                      "type": "string",
                      "description": "Gross APR as a decimal string."
                    },
                    "net": {
                      "type": "string",
                      "description": "Net APR after fees."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DeltaAuctionTransaction": {
        "type": "object",
        "description": "On-chain transaction that filled (part of) the order. One entry per fill; multiple entries for `partiallyFillable` orders or per-slice TWAPs.",
        "properties": {
          "id": { "type": "string" },
          "hash": { "type": "string" },
          "orderId": { "type": "string" },
          "bidId": { "type": "string", "nullable": true },
          "blockNumber": { "type": "integer" },
          "blockHash": { "type": "string" },
          "blockTimestamp": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "index": { "type": "integer" },
          "status": { "type": "integer" },
          "from": { "type": "string" },
          "to": { "type": "string" },
          "receivedAmount": { "type": "string" },
          "receivedAmountUSD": { "type": "number" },
          "spentAmount": { "type": "string" },
          "spentAmountUSD": { "type": "number" },
          "filledPercent": {
            "type": "integer",
            "description": "Basis points (10000 = 100%)."
          },
          "protocolFee": { "type": "string" },
          "partnerFee": { "type": "string" },
          "agent": { "type": "string" },
          "auctionId": { "type": "string" },
          "bridgeMetadata": { "type": "object", "nullable": true },
          "bridgeStatus": { "type": "string", "nullable": true },
          "bridgeProtocol": { "type": "string", "nullable": true }
        }
      },
      "DeltaAuction": {
        "type": "object",
        "description": "V1 order shape returned by every order endpoint. Status uses the legacy `DeltaAuctionStatus` enum; crosschain orders set `bridgeMetadata` and `bridgeStatus`.",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "deltaVersion": { "type": "string", "description": "`1.0` for V1." },
          "user": { "type": "string" },
          "status": {
            "type": "string",
            "enum": [
              "NOT_STARTED",
              "AWAITING_PRE_SIGNATURE",
              "RUNNING",
              "EXECUTING",
              "EXECUTED",
              "FAILED",
              "EXPIRED",
              "CANCELLED",
              "CANCELLING",
              "SUSPENDED",
              "REFUNDED"
            ]
          },
          "orderHash": { "type": "string", "nullable": true },
          "transactions": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/DeltaAuctionTransaction" }
          },
          "chainId": { "type": "integer" },
          "partner": { "type": "string" },
          "referrerAddress": { "type": "string", "nullable": true },
          "expiresAt": { "type": "string", "format": "date-time" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "partiallyFillable": { "type": "boolean" },
          "excludeAgents": {
            "type": "array",
            "items": { "type": "string" },
            "nullable": true
          },
          "includeAgents": {
            "type": "array",
            "items": { "type": "string" },
            "nullable": true
          },
          "bridgeMetadata": { "type": "object", "nullable": true },
          "bridgeStatus": { "type": "string", "nullable": true },
          "type": { "type": "string", "enum": ["MARKET", "LIMIT"] },
          "onChainOrderType": {
            "type": "string",
            "enum": [
              "Order",
              "ProductiveOrder",
              "ExternalOrder",
              "TWAPOrder",
              "TWAPBuyOrder"
            ]
          },
          "order": {
            "type": "object",
            "description": "The signed on-chain Order struct (shape varies by `onChainOrderType`)."
          }
        }
      }
    }
  }
}
