{
  "openapi": "3.0.3",
  "info": {
    "title": "Velora Delta API",
    "version": "1.0.0",
    "description": "Velora Delta API — intent-based quoting with optional Market fallback."
  },
  "servers": [
    { "url": "https://api.velora.xyz", "description": "Production" }
  ],
  "paths": {
    "/quote": {
      "get": {
        "summary": "Retrieve a Delta price, with optional fallback to Market",
        "operationId": "deltaQuote",
        "parameters": [
          { "name": "srcToken", "in": "query", "required": true, "schema": { "type": "string", "example": "0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE" }, "description": "Source token address. Example uses ETH." },
          { "name": "srcDecimals", "in": "query", "required": true, "schema": { "type": "integer", "example": 18 }, "description": "Source token decimals." },
          { "name": "destToken", "in": "query", "required": true, "schema": { "type": "string", "example": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48" }, "description": "Destination token address. For cross-chain quotes, the destination token on the destination chain. Example uses USDC." },
          { "name": "destDecimals", "in": "query", "required": true, "schema": { "type": "integer", "example": 6 }, "description": "Destination token decimals." },
          { "name": "amount", "in": "query", "required": true, "schema": { "type": "string", "example": "1000000000000000000" }, "description": "srcToken amount (SELL) or destToken amount (BUY), in WEI/raw units." },
          { "name": "side", "in": "query", "required": false, "schema": { "type": "string", "enum": ["SELL", "BUY"], "default": "SELL" } },
          { "name": "chainId", "in": "query", "required": true, "schema": { "type": "integer", "example": 1 }, "description": "Source chain ID. Supported values: 1 (Mainnet), 10 (Optimism), 56 (BSC), 137 (Polygon), 250 (Fantom), 1101 (zkEVM), 8453 (Base), 42161 (Arbitrum), 43114 (Avalanche), 100 (Gnosis)." },
          { "name": "mode", "in": "query", "required": false, "schema": { "type": "string", "enum": ["ALL", "DELTA", "MARKET"], "default": "ALL" }, "description": "Controls pricing source and fallback behavior. ALL returns both Delta and Market blocks; DELTA returns Delta only; MARKET returns Market only." },
          { "name": "userAddress", "in": "query", "required": false, "schema": { "type": "string", "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045" }, "description": "End-user wallet address." },
          { "name": "partner", "in": "query", "required": false, "schema": { "type": "string", "default": "anon", "example": "my-app-name" }, "description": "Partner string. Defaults to `anon` which charges 1bps fee for all swaps." },
          { "name": "destChainId", "in": "query", "required": false, "schema": { "type": "integer" }, "description": "Destination chain ID for cross-chain quotes. Omit for same-chain quotes." }
        ],
        "responses": {
          "200": {
            "description": "Delta quote, optionally with a Market block depending on `mode`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "delta": {
                      "type": "object",
                      "description": "Delta intent. Sign and submit via /delta/orders/build then /delta/orders. Includes `hmac`.",
                      "properties": {
                        "srcToken": { "type": "string" },
                        "destToken": { "type": "string" },
                        "srcAmount": { "type": "string" },
                        "destAmount": { "type": "string" },
                        "destAmountBeforeFee": { "type": "string" },
                        "gasCostUSD": { "type": "string" },
                        "gasCost": { "type": "string" },
                        "srcUSD": { "type": "string" },
                        "destUSD": { "type": "string" },
                        "destUSDBeforeFee": { "type": "string" },
                        "gasCostBeforeFee": { "type": "string" },
                        "gasCostUSDBeforeFee": { "type": "string" },
                        "partner": { "type": "string" },
                        "partnerFee": { "type": "number" },
                        "bridge": {
                          "type": "object",
                          "properties": {
                            "outputToken": { "type": "string" },
                            "protocolData": { "type": "string" },
                            "scalingFactor": { "type": "string" },
                            "destinationChainId": { "type": "integer" },
                            "protocolSelector": { "type": "string" }
                          }
                        },
                        "bridgeInfo": {
                          "type": "object",
                          "properties": {
                            "protocolName": { "type": "string" },
                            "destAmountAfterBridge": { "type": "string" },
                            "destUSDAfterBridge": { "type": "string" },
                            "estimatedTimeMs": { "type": "integer" },
                            "fees": { "type": "array", "items": { "type": "object" } }
                          }
                        },
                        "availableBridges": { "type": "array", "items": { "type": "object" } },
                        "hmac": { "type": "string" }
                      }
                    },
                    "market": {
                      "type": "object",
                      "description": "Market route block. Same shape as the GET /prices `priceRoute` field. Present when `mode` is ALL or MARKET."
                    },
                    "deltaAddress": { "type": "string", "description": "The Delta settlement contract address for the source chain." },
                    "fallbackReason": {
                      "type": "object",
                      "description": "Set when Delta couldn't price and the response fell back to Market.",
                      "properties": {
                        "errorType": { "type": "string" },
                        "details": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid parameters" },
          "422": { "description": "Unsupported chain or token" }
        }
      }
    },
    "/delta/orders/build": {
      "post": {
        "summary": "Build a signable Delta order from a quote",
        "operationId": "deltaOrdersBuild",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "price": { "type": "object", "description": "The `delta` block returned by GET /quote, passed verbatim." },
                  "hmac":  { "type": "string", "description": "The `hmac` from the `delta` block, passed verbatim." }
                },
                "required": ["price", "hmac"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order with EIP-712 typed data ready to sign",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Invalid input or stale price" }
        }
      }
    },
    "/delta/orders": {
      "post": {
        "summary": "Submit a signed Delta order",
        "operationId": "deltaOrdersSubmit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "order":     { "type": "object" },
                  "signature": { "type": "string" }
                },
                "required": ["order", "signature"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Order accepted; returns order id and status URL." },
          "400": { "description": "Invalid signature or order shape" }
        }
      }
    }
  }
}
