{
  "openapi": "3.0.3",
  "info": {
    "title": "Velora Market API",
    "version": "1.0.0",
    "description": "Velora Market API — direct aggregator pricing and Augustus calldata."
  },
  "servers": [
    { "url": "https://api.velora.xyz", "description": "Production" }
  ],
  "paths": {
    "/prices": {
      "get": {
        "summary": "Get a Market route for a token pair",
        "operationId": "marketPrices",
        "parameters": [
          { "name": "srcToken", "in": "query", "required": true, "schema": { "type": "string", "default": "0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE" }, "description": "Source token address. A token symbol listed in /tokens can be used instead." },
          { "name": "srcDecimals", "in": "query", "required": false, "schema": { "type": "integer", "default": 18 }, "description": "Source token decimals. Can be omitted if a token symbol is used in srcToken." },
          { "name": "destToken", "in": "query", "required": true, "schema": { "type": "string", "default": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48" }, "description": "Destination token address. A token symbol listed in /tokens can be used instead." },
          { "name": "destDecimals", "in": "query", "required": false, "schema": { "type": "integer", "default": 6 }, "description": "Destination token decimals. Can be omitted if a token symbol is used in destToken." },
          { "name": "amount", "in": "query", "required": true, "schema": { "type": "string", "default": "1000000000000000000" }, "description": "srcToken amount (SELL) or destToken amount (BUY), in WEI/raw units." },
          { "name": "side", "in": "query", "required": false, "schema": { "type": "string", "enum": ["SELL", "BUY"], "default": "SELL" } },
          { "name": "network", "in": "query", "required": false, "schema": { "type": "integer", "default": 1 }, "description": "Network ID. Default: 1 (Mainnet)." },
          { "name": "otherExchangePrices", "in": "query", "required": false, "schema": { "type": "boolean", "default": false }, "description": "If true, the response includes price quotes from other exchanges in an `others` object." },
          { "name": "includeDEXS", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Comma-separated list of DEXs to include." },
          { "name": "excludeDEXS", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Comma-separated list of DEXs to exclude." },
          { "name": "excludeRFQ", "in": "query", "required": false, "schema": { "type": "boolean", "default": false }, "description": "Exclude all RFQ liquidity from pricing." },
          { "name": "includeContractMethods", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Comma-separated list of contract methods to include." },
          { "name": "excludeContractMethods", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Comma-separated list of contract methods to exclude." },
          { "name": "userAddress", "in": "query", "required": false, "schema": { "type": "string", "default": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045" } },
          { "name": "route", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Dash-separated list of tokens for the price route. Max 4 tokens." },
          { "name": "partner", "in": "query", "required": false, "schema": { "type": "string", "default": "my-app-name" }, "description": "Partner string. Defaults to `anon` which charges 1bps fee for all swaps." },
          { "name": "maxImpact", "in": "query", "required": false, "schema": { "type": "number" }, "description": "Bypass API price-impact check (default = 15%). Value in %." },
          { "name": "receiver", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Receiver wallet address. Omit when swapping from/to the same account." },
          { "name": "srcTokenTransferFee", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Tax in basis points charged on srcToken transfers." },
          { "name": "destTokenTransferFee", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Tax in basis points charged on destToken transfers." },
          { "name": "srcTokenDexTransferFee", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Tax in BPS charged only on DEX swaps for srcToken." },
          { "name": "destTokenDexTransferFee", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Tax in BPS charged only on DEX swaps for destToken." },
          { "name": "version", "in": "query", "required": false, "schema": { "type": "string", "enum": ["5", "6.2"], "default": "6.2" }, "description": "Protocol version. Use \"5\" for legacy v5; default is \"6.2\"." },
          { "name": "excludeContractMethodsWithoutFeeModel", "in": "query", "required": false, "schema": { "type": "boolean", "default": false }, "description": "Exclude contract methods that don't support the fee model." },
          { "name": "ignoreBadUsdPrice", "in": "query", "required": false, "schema": { "type": "boolean", "default": false }, "description": "Skip the USD-price availability check." }
        ],
        "responses": {
          "200": {
            "description": "Market route. Calldata-ready against Augustus v6.2 when version=6.2.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "priceRoute": {
                      "type": "object",
                      "properties": {
                        "blockNumber": { "type": "integer" },
                        "network": { "type": "integer" },
                        "srcToken": { "type": "string" },
                        "srcDecimals": { "type": "integer" },
                        "srcAmount": { "type": "string" },
                        "destToken": { "type": "string" },
                        "destDecimals": { "type": "integer" },
                        "destAmount": { "type": "string" },
                        "bestRoute": { "type": "array", "items": { "type": "object" } },
                        "gasCostUSD": { "type": "string" },
                        "gasCost": { "type": "string" },
                        "side": { "type": "string", "enum": ["SELL", "BUY"] },
                        "version": { "type": "string" },
                        "contractAddress": { "type": "string" },
                        "tokenTransferProxy": { "type": "string" },
                        "contractMethod": { "type": "string" },
                        "partnerFee": { "type": "number" },
                        "srcUSD": { "type": "string" },
                        "destUSD": { "type": "string" },
                        "partner": { "type": "string" },
                        "maxImpactReached": { "type": "boolean" },
                        "hmac": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid request" },
          "422": { "description": "Unsupported chain or token" }
        }
      }
    },
    "/transactions/{network}": {
      "post": {
        "summary": "Build calldata for a Market swap",
        "operationId": "marketTransactions",
        "parameters": [
          { "name": "network", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "priceRoute":   { "type": "object", "description": "The `priceRoute` block returned by GET /prices, passed verbatim." },
                  "srcToken":     { "type": "string" },
                  "destToken":    { "type": "string" },
                  "srcAmount":    { "type": "string" },
                  "destAmount":   { "type": "string" },
                  "userAddress":  { "type": "string" },
                  "slippage":     { "type": "integer" }
                },
                "required": ["priceRoute", "userAddress"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Augustus calldata + tx fields",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "400": { "description": "Invalid input or stale priceRoute" }
        }
      }
    }
  }
}
